* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  line-height: 1.8;
}

/*Global styles*/
.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/*Typography*/

h1 {
  font-size: 90px;
  font-weight: 700;
}

h2 {
}

h3 {
}

/*Block Testimonial styles*/
.block-testimonial {
  background-color: red;
  padding-top: 50px;
  padding-bottom: 50px;
}

/*Footer styles*/

.site-footer {
  background: #094b72;
  padding-top: 50px;
  padding-bottom: 50px;
}

/*components styles */
.block-components {
  padding-top: 50px;
  padding-bottom: 50px;
}
.btn {
  display: inline-block;
  text-decoration: none;
  background: black;
  color: white;
  padding: 12px 20px;
  border-radius: 12px;
  border-color: transparent;
  font-size: 16px;
  line-height: normal;
}
