* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  line-height: 1.8;
}

/*Global styles*/
.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.flex{
  display: flex;
  justify-content:left;
}

.site-banner-flex{
  display: flex;
  justify-content: center;
  background-color: #094b72;
  flex-wrap: wrap;
  align-items: center;
}

.site-banner-subtext-flex{
  display: flex;
  background-color: #094b72;
  flex-wrap: wrap;
  padding-left: 425px;
  padding-bottom: 70px;
}

.site-header {
    background-color: #ffffff;
    color: #fff;
    padding: 20px;
    text-align: left;
}

nav {
  background-color: #ffffff;
  color: #fff;
  padding: 10px 0;
  margin-left: 250px;
  text-align: center;
}

nav a {
  color: #000000;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 700;
}

.legalization{
  background-color: #f2f7ff;
  color: #fff;
  padding: 0px;
  text-align:justify;
  padding-bottom: 126px;
  padding-right: 220px;
}

/*Typography*/

h1 {
  color: #094b72;
  font-size: 90px;
  font-weight: 700;
}

h2 {
  color: #2D2F30;
  font-size: 48px;
  font-weight: 700;
  padding-left: 0px;
  padding-top: 174px;
  line-height: 63.98px;
}

h4 {
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  color: #363940;
  padding-top: 79px;
  padding-right: 51px;
  padding-left: 24px;
}

h5 {
  text-align:left;
  font-size: 14px;
  line-height: 24px;
  color: #8B8C8C;
  padding: 10px 24px 24px 22px;
  font-family: Arial, Helvetica, sans-serif;
}

.testimonial{
  padding-top: 61px;
  color: #2D2F30;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-left: 700px;
}

.subtext{
  color: #8B8C8C;
  font-size: 20px;
  line-height: 36px;
  padding-left: 8px;
  padding-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

/*Block Box*/
#block-box {
  border-radius: 10px;
  background: #ffffff;
  margin-top: 126px;
  padding-bottom: 28px;
  width: 256px;
  height: 275px;
  margin-left: 30px;
}

/*Block Text styles*/
.block-text {
  background-color: rgb(255, 255, 255);
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 108px;
}

.block-subtext{
  font-size: 24px;
  color:#4f4f4f;
  line-height: 37.92px;
  font-family: Arial, Helvetica, sans-serif;
}

/*.features-main.grid{
  padding: 30px;
}

.features-main.grid > *:first-child{
  grid-column: 1/span 3;
}

.features-main.grid > *:nth-child(2){
  grid-column: 1/span 2;
}*/

.site-banner{
  padding-top: 126px;
  background-color: #094b72;
  color: #fff;
  text-align: center;
  padding: 0px;

}

.banner-text{
  color: white;
  padding-top: 53px;
  font-size:48px;
  font-weight: 900;
}

.banner-subtext{
  color: white;
  padding-top: 6px;
  font-size:18px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.numbers{
  color: white;
  padding-top: 48px;
  font-size: 48px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 180px;
}

.numbers-text{
  color: white;
  padding-top: 0px;
  padding-left: 175px;
  font-size:18px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.numbers-text-years{
  color: white;
  padding-top: 0px;
  padding-left: 110px;
  font-size:18px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

/*Testimonial Box*/

#testimonial-box {
  border-radius: 10px;
  background: #ffffff;
  width: 540px;
  height: 220px;
  justify-content: center;
  align-items:flex-end;
  padding-top: 0px;
  margin-left: 250px;
  padding-bottom: 28px;
}

.complex{
    background-color: #ffffff;
    color: #fff;
    padding-bottom: 40px;
    padding-left: 0px;
    text-align:justify;
}

.complex-text{
font-size: 48px;
font-weight: 700;
color: #2D2F30;
line-height: 64px;
padding-left: 169px; 
padding-top: 36px;
}

.complex-subtext{
  font-size: 24px;
  font-weight: 400;
  color: #4f4f4f;
  line-height: 36px;
  padding-left: 169px; 
  padding-top: 15px;
  padding-bottom: 50px;
  font-family: Arial, Helvetica, sans-serif;
  }

/*Footer styles*/

.site-footer{
  background-color: #094b72;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  padding: 100px;

}

.category {
  list-style-type: none;
  padding: 0;
  min-width: 190px;
  text-align: left;
}

.category h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}

.category a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
}

/*components styles */
.block-components {
  padding-top: 50px;
  padding-bottom: 50px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background: #094b72;
  color: white;
  padding: 25px 36px;
  border-radius: 8px;
  border-color: transparent;
  font-size: 16px;
  line-height: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-complex {
  text-decoration: none;
  background: #094b72;
  color: white;
  padding: 14px 36px 14px 83px;
  border-radius: 8px;
  border-color: transparent;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  font-family: Arial, Helvetica, sans-serif;
} 

.trusted {
  padding-top: 115px;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #909191;
  font-size: 22px;
}
